.sportsbook iframe {
  height: calc(100% - 1px);
}

.sportsbook .slot-iframe.show {
  top: 125px;
  height: calc(100vh - 125px);
}

.PhoneInput input:focus-visible {
  outline: 0;
}

.PhoneInput input {
  border: 0;
}

.login-auth-box {
  width: 500px;
  max-width: 90%;
}

.login-auth input {
  padding: 10px;
  width: 60px !important;
  height: 60px !important;
}

.login-auth>div {
  margin-top: 20px;
  justify-content: space-between;
}

.live-casino-bets .game-name {
  width: 110px;
}

.live-casino-bets .report-type {
  width: 70px;
}

.live-casino-bets .report-amount {
  width: 70px;
}

#floater {
  position: absolute;
  top: 50vh;
  right: 0;
  width: 50px;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 10001;
  border-radius: 3px 0 0 3px;
  padding: 0px;
  box-shadow: rgb(255 255 255 / 98%) -5px 0px 10px -5px;
  /* background-color: #41a6d9; */
  /* color: white; */
  text-align: center;
  box-sizing: border-box;
}

#floater img {
  width: 50px;
  height: 50px;
}

.modal-18plus img {
  height: 30px;
}
.login-page{
  justify-content: flex-start;
}
.login-box{
  margin: 2% 0;
}
.footer.footer-login{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
.grecaptcha-badge {
  visibility: hidden; 
}
.username-text .success-form{ 
  width: 100%;
  text-align: left;
}
.phnumber-text .success-form{
  width: 100%;
  text-align: left;
}
.blink-message{
  display: flex;
  align-items: center;
  color: var(--text-sidebar);
  padding: 5px;
}
.blink-message > div {
-moz-animation: blinktext normal 1s infinite ease-in-out;
-webkit-animation: blinktext normal 1s infinite ease-in-out;
-ms-animation: blinktext normal 1s infinite ease-in-out;
animation: blinktext normal 1s infinite ease-in-out;
text-decoration: underline;
line-height: 1.5;
font-size: 18px;
}
@-moz-keyframes blinktext {
  0% {
      opacity: 1;
      color: red;
  }

  50% {
      opacity: 1;
      color: yellow;
  }

  100% {
      opacity: 1;
      color: red;
  }
  }

  @-webkit-keyframes blinktext {
  0% {
      opacity: 1;
      color: red;
  }

  50% {
      opacity: 1;
      color: yellow;
  }

  100% {
      opacity: 1;
      color: red;
  }
  }

  @-ms-keyframes blinktext {
  0% {
      opacity: 1;
      color: red;
  }

  50% {
      opacity: 1;
      color: yellow;
  }

  100% {
      opacity: 1;
      color: red;
  }
  }

  @keyframes blinktext {
  0% {
      opacity: 1;
      color: red;
  }

  50% {
      opacity: 1;
      color: yellow;
  }

  100% {
      opacity: 1;
      color: red;
  }
}
@media screen and (max-width: 767px) {
  .login-auth input {
    padding: 10px;
    width: 40px !important;
    height: 40px !important;
  }

  .sportsbook .slot-iframe.show {
    top: 50px;
    height: calc(100vh - 50px);
    left: 0;
    width: 100%;
  }
  .login-box img{
    max-height: 70px;
  }
  .social-icon{
    height: 30px;
    width: 30px;
  }
  .social-icon img{
    height: 20px;
  }

}

@media only screen and (min-width: 768px) and (max-width:1199px) {
  .sportsbook .slot-iframe.show {
    top: 60px;
    height: calc(100vh - 60px);
    left: 0;
    width: 100%;
  }
}