:root {
  --bg-primary: #ff0000;
  --bg-primary90: #0b3b90e6;
  --text-primary: #ffffff;
  --bg-secondary: #000000;
  --bg-secondary70: #0f2039b3;
  --bg-secondary85: #0f2039d9;
  --text-secondary: #ffffff;
  --selected-tab: #cccccc;
  --cash-out-bg: #fab418;
  --cash-out-text: black;
}
