/* Loader start*/

.animate-spin {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Loader end*/

/* App pop up */
.android-popup {
  width: 100%;
  background: var(--bg-secondary);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.rect-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 141px;
  height: 64px;
  flex-shrink: 0;
  background: linear-gradient(
    98deg,
    rgba(8, 248, 255, 0.7) 0.98%,
    rgba(59, 164, 253, 0.7) 51.52%,
    rgba(132, 54, 250, 0.7) 100%
  );
  filter: blur(90px);
  z-index: 0;
}

.rect-2 {
  position: absolute;
  width: 164px;
  height: 64px;
  right: 0;
  top: 0;
  flex-shrink: 0;
  background: linear-gradient(
    98deg,
    rgba(8, 248, 255, 0.7) 0.98%,
    rgba(59, 164, 253, 0.7) 51.52%,
    rgba(132, 54, 250, 0.7) 100%
  );
  filter: blur(90px);
  z-index: 0;
}

.android-card {
  display: flex;
  width: 282px;
  align-items: center;
  gap: 7px;
  z-index: 3;
}

.cancel-icon {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #9ca3af;
}

.side-logo {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-logo img {
  width: 1.5rem;
  height: 1.5rem;
}

.app-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.app-text h2 {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 0;
}

.app-text span {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 0;
}
.app-text .star {
  display: flex;
  align-items: center;
  gap: 2px;
}

.install-btn {
  display: flex;
  height: 28px;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--bg-primary);
}

.install-btn button {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.3px;
  z-index: 10;
}

/* App pop up */

/* ! Live casino css */
.mac88:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: inset 0 0 30px #414141;
  z-index: 100;
}
.mac88:after {
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #0006;
  z-index: 99;
}

.mac88 .game-name {
  background-color: #323232;
  border-radius: 0 0 10px 10px;
  position: relative;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  min-height: 40px;
  padding: 10px;
  color: white;
}

/* referral modal */

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 2000;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.32);
}
.cdk-overlay-backdrop {
  position: absolute;
  inset: 0;
  z-index: 1000;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}
.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-pane {
  position: absolute;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.mdc-dialog__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.mdc-dialog__surface::before {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: inherit;
  content: "";
  pointer-events: none;
}

.mat-mdc-dialog-container.mdc-dialog .modal-header {
  position: relative;
  padding: 10px 0;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary);
}

.modal-header[_ngcontent-ng-c526813732] .img-wrap[_ngcontent-ng-c526813732] {
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-header[_ngcontent-ng-c526813732]
  .img-wrap[_ngcontent-ng-c526813732]
  img[_ngcontent-ng-c526813732] {
  width: 175px;
  max-height: 70px;
  height: auto;
  min-width: auto;
  object-fit: contain;
}

.modal-header[_ngcontent-ng-c526813732]
  .modal-close-btn[_ngcontent-ng-c526813732] {
  background: white !important;
  color: black;
}

.mat-mdc-dialog-container.mdc-dialog .modal-header .modal-close-btn {
  min-width: auto;
  width: 25px;
  max-height: 25px;
  background: var(--bg-primary) !important;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

.mat-mdc-dialog-container.mdc-dialog .modal-body {
  padding: 10px;
}

.modal-body[_ngcontent-ng-c526813732] h3[_ngcontent-ng-c526813732] {
  font-size: 18px;

  margin: 0;
}

.modal-body[_ngcontent-ng-c526813732] p[_ngcontent-ng-c526813732] {
  font-size: 12px;
  margin: 0;
}

.modal-body[_ngcontent-ng-c526813732] .referral-code[_ngcontent-ng-c526813732] {
  background-color: rgb(212, 212, 212);
  border-radius: 6px;
  padding: 10px;
  position: relative;
  height: 45px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.modal-body[_ngcontent-ng-c526813732]
  .referral-code[_ngcontent-ng-c526813732]
  button[_ngcontent-ng-c526813732] {
  position: absolute;
  right: 0;
  width: 30px;
  height: 45px;
  top: 0;
  background-color: var(--bg-primary);
}

button.btn {
  font-size: 12px;
  white-space: nowrap;
  border: none;
  min-height: 25px;
  min-width: 75px;
  font-weight: 300;
  cursor: pointer;
  width: 100%;
}
/* referral modal */

/* .home-page .casino-list-item-mac88 {
  width: calc(10% - 10px);
} */

/* @media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .casino-list-item-mac88 {
    width: calc(16.66% - 10px);
  }
} */

.casino-list-item-mac88 {
  width: calc(14.28% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

@media only screen and ((min-width: 360px) and (max-width : 800px)) {
  .casino-list-item-mac88 {
    width: calc(25% - 10px);
  }
}

@media only screen and (max-width: 360px) {
  .casino-list-item-mac88 {
    width: calc(33.33% - 10px);
  }
}
